img {
    width: 200px;
    height: auto
}

.logo {
    width:48px;
    height:auto
}

.logo-div {
    margin-right: auto
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
}

.links {
    display: flex;
    gap: 12px;
}

a {
    color:#F208AA
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F208AA;
}

.hero {
    display: flex;
    padding: 0px 80px
}

.hero-container {
    width: 85%;
    display: flex;
    flex-shrink: 0;
}

.hero-left {
    margin-right: auto;
}

.list-row {
    display: flex;
    gap: 36px
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1
}

.hero,
.section-2 {
    display: flex;
    flex: 1
}

.section-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column
}

.header {
    display: flex;
    justify-content: center;
    text-align: center
}

.list-text {
    text-align: center
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 0px
    /* Apply to the entire website */
    font-family: 'Instrument Serif', serif;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center
}

.quoter {
    display: flex;
    justify-content:center
}

.quote-img {
    display:flex;
    justify-content:center;
    align-items:center
}

.blue-card {
    display:flex;
    padding: 0px 80px
}

.body {
    display: flex;
    flex-direction: column;
    gap:60px
}

button {
    background-color: #F208AA;
    color: white;
    border-radius: 12px;
    border-color: #F208AA;
    font-size: 14px;
    padding: 8px 12px 
}


/* Alternative: Apply only to headings */
h1, h2, h3, a, p{
  font-family: 'Instrument Serif', serif;
  font-weight: 700; /* This font defaults to regular weight */
}